* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 940px;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background: #1d1d1d;
    margin: 2px;
    box-shadow: 0 0 2px #000;
     
  }

  #board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0;
    text-align: center;
    
    font-size: 25px;
    color: antiquewhite;
  }

  .number {
    width: 50px!important;
    height: 100px;
    background: #1d1d1d;
    margin: 2px;
    box-shadow: 0 0 2px #000;
  }
  
  .nook {
    width: 50px;
    height: 50px!important;
    background: #1d1d1d;
    margin: 2px;
    box-shadow: 0 0 2px #000;
  }

  .symbol {
    width: 100px;
    height: 50px!important;
    background: #1d1d1d;
    margin: 2px;
    box-shadow: 0 0 2px #000;
    text-align: center;
    margin-top: 0;
  }

  .symbol p {
    margin-top: 15px;
  }

  .symbol-bottom {

  }
 